/*
Theme Name: Chameleon
Theme URI: http://www.elegantthemes.com/gallery/
Version: 3.6
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
*
{
margin:0px;
padding:0px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1;overflow-x:hidden; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

.flexslider .slides img
{
height:350px !important}
/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body { line-height: 20px; font-family:'Droid Sans',Arial,Verdana,sans-serif; font-size: 12px; color: #929292; background:#ffffff !important; }

a { text-decoration: none; color: #00b7f3; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #808080; letter-spacing: -1px; line-height: 1em; font-weight: lighter; font-family: 'Kreon', Arial, sans-serif; text-shadow: none; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #808080; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 24px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#container { text-align: left; position: relative;/* background: #fff url(images/header-shadow.png) repeat-x top;*/ }
.wrapper
{
	width:960px;
	margin:0 auto;
}
	header { position: relative; padding:71px 35px 2px; }
		#logo { float: left; }
		p#slogan { float: left; font-size: 12.5px; color: #66929c; text-transform: uppercase; padding-top: 17px; margin-left: -65px; margin-top: 26px; font-family: 'Kreon', Arial, sans-serif;}
		ul#top-menu { float: right; padding-top: 30px; }
		#additional-info { position: relative;
width: 100%;
background: #e70202;
padding: 8px 10px 12px 10px;
float: left; }
			#et-social-icons { float: right; padding-top: 9px; padding-right: 20px; position:relative; z-index:1000 }
				#et-social-icons  a { padding-left: 8px; }
			#search-form {float: right;
/* background: url(images/search-bg.png) no-repeat; */

height: 28px;
z-index: 10000;
position: relative;}
				#search-form #searchinput {
border: none;
float: left;
margin: 6px 7px 0 0px;
width: 56px;
color: #fff;
font-size: 15px;
width: 200px;
background: rgb(254, 69, 69);
padding: 4px 7px;
 }
				#search-form #searchsubmit { margin-top: 9px;
				margin-right:8px;
background-size: 20px;
width: 17px; }
		#quote { text-align: center; width: 890px; margin: 0 auto; border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; padding-top:38px; padding-bottom: 25px; }
			#category-name h3 { color: #3b3b3b; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter;font-size: 28px; }
			#category-name p { color: #929292; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter;font-size: 20px; display:none;}
			button
			{
			background: red;
border: none;
padding: 8px;
color: #fff;
border-radius: 5px;
float: right;
			}
		#content-area { padding: 0px 48px 60px; }
			#services { margin-bottom: 40px; }
				.service { float: left; width: 244px; margin-right: 66px; }
				.last { margin-right: 0px; }
					.service h3.title { margin-bottom: 4px; margin-left: 5px; }
					h3.title, #et-control-panel h3.control_title { color: #1d1d1d; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; font-size: 20px; }
					.service .thumb { background: url(images/thumb-bg.png) no-repeat; width: 242px; height: 127px; position: relative; margin-bottom: 10px; }
						.item-image { margin-top:4px; margin-left:4px; }
						span.more-icon { background: url(images/more-icon.png) no-repeat; position: absolute; display: block; height: 41px; left: 100px; top: 41px; width: 40px; }
					.service p { margin-left: 5px; }
			#from-blog { float: left; margin-left: 5px; width: 223px; margin-right: 85px; }
				#from-blog h3.title { margin-bottom: 2px; }
				#from-blog  ul li { padding:4px 16px; display: block; background:url(images/sidebar-bullet.png) no-repeat 0px 12px; }
					#from-blog ul li a { color:#929292; text-decoration: none; }
						#from-blog ul li a:hover { color:#b2b2b2; }
			#multi-media-bar { float: left; width: 550px; }
				#multi-media-bar h3.title { margin-bottom: 10px; }
				#et-multi-media { position: relative; border: 1px solid #f0f0f0; border-bottom: 1px solid #d1d1d1; border-right: 1px solid #dcdcdc; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); padding: 14px 15px 14px 22px; }
					a#left-multi-media, a#right-multi-media { position: absolute; top: 30px; width: 27px; height: 27px; text-indent:-9999px; }
						a#left-multi-media { background:url(images/left-multi-media-arrow.png) no-repeat; left: -13px; }
						a#right-multi-media { background:url(images/right-multi-media-arrow.png) no-repeat; right: -13px; }
					#et-multi-media .thumb { float: left; margin-right: 16px; position: relative; padding: 4px; border: 1px solid #f0f0f0; border-bottom: 1px solid #d4d4d4; border-right: 1px solid #d4d4d4; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
					#et-multi-media .last { margin-right: 0px; }
						#et-multi-media .thumb a { display: block !important; }
							span.more { background: url(images/more.png) no-repeat; position: absolute; display: none; height: 33px; left: 12px; top: 12px; width: 33px; }
							.et-video span.more { background: url(images/et-video-more.png) no-repeat; }

	#breadcrumbs { font-size:14px;font-weight: lighter;color: #1d1d1d; float:left; padding-top:10px }
		#breadcrumbs a { color:#929292; text-decoration: none; }
			#breadcrumbs a:hover { color:#1d1d1d; }
		#breadcrumbs .raquo { color:#929292; }
	#category-name {text-align: center;
/* width: 890px; */
margin: 0 auto;
padding-top: 38px;
/* background: url(images/top-category-bg.png) no-repeat; */
background: #f5f5f5;
margin: -38px 0px 25px 0px;
color: #444444; }
		#category-inner { padding-bottom: 28px; }
			h1.category-title { color: #1d1d1d; font-size:28px; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; }
			p.description { color: #929292; font-size:20px; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; }
			.pad td
			{
				padding:5px}
			.redlink a
			{
				background: #e70202;
padding: 5px 10px;
border-radius: 5px;
text-decoration: none;
color: #ffffff;
margin-bottom: 10px;
display: inline-block;
			}
		#content { }
		.fullwidth { background: none !important; }
			#left-area {float:left; font-size:14px; min-height:400px; padding-top:10px; width:680px}
			.fullwidth #left-area { width: 100%; }
			#sidebar { width: 238px; float:left; padding-top: 35px; padding-left: 40px; }
				.post { padding:35px 35px 25px 0px; color:#000 }
					.post-thumbnail { display:block; float:left; position:relative; margin-right: 35px; margin-top: 6px; }
						.post-thumb { margin-top:7px; margin-left:7px; }
						span.post-overlay { background:url(images/post-overlay.png) no-repeat;
						display:block; height:200px; left:0px; position:absolute; top:0px; width:200px; }
					h2.title { font-size: 28px; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; padding-bottom: 15px; }
						h2.title a { color: #1d1d1d; text-decoration: none; }
						h2.title a:hover { color: #000; }
						.post p.meta-info { padding-bottom:9px; padding-top: 9px; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; font-size: 15px; color: #d0d0d0; border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; margin-bottom: 11px; display:none }
							.post p.meta-info a, p.description a { color: #929292; text-decoration: none; }
							p.description a { color: #6e6e6e; }
							.post p.meta-info a:hover, p.description a:hover { color: #111; }
					a.read-more, .reply-container a, #commentform input#submit  { border: 1px solid #eaeaea; float:right; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; font-size: 12px; color: #1d1d1d; padding: 3px 10px; text-decoration: none; display: block; background: #fff; }

	.post ul, .comment-content ul { list-style-type: disc; padding: 10px 0px 10px 20px; }
		.post ol, .comment-content ol { list-style-type: decimal; list-style-position: inside; padding: 10px 0px 10px 2px; }
			.post ul li ul, .post ul li ol, .comment-content ul li ul, .comment-content ul li ol { padding: 2px 0px 2px 20px; }
			.post ol li ul, .post ol li ol, .comment-content ol li ul, .comment-content ol li ol  { padding: 2px 0px 2px 35px; }


/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/

ul#top-menu li { padding: 0px 9px; }
	ul#top-menu a { font-size: 13px; font-family: 'Kreon', Arial, sans-serif; color: #393939; text-decoration: none; text-transform:uppercase }
	ul#top-menu a:hover, ul#top-menu > li.sfHover > a { color: #427d8b;}
	ul#top-menu > li.current_page_item > a, ul#top-menu > li.current-menu-item > a { color: #427d8b !important; font-weight: normal; }

ul#top-menu ul {background: #fff; border: 1px solid #efefef; top: 54px !important; z-index: 9999px; display: none; border-top:2px solid #e70202;    }
	ul#top-menu ul li { border-bottom:1px solid #ccc; width:90% }
		ul#top-menu ul li a { padding:10px; display:block;}
		

		ul#top-menu li:hover ul ul, ul#top-menu li.sfHover ul ul { top: 0px !important; left: 197px !important; border-top:1px solid #efefef;}

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

#featured { position: relative; background: url(images/featured-bg.png) no-repeat top center; margin-top: 12px; margin-bottom: 12px; }
	a#left-arrow, a#right-arrow, #featured .nivo-prevNav, #featured .nivo-nextNav { position: absolute; top: 143px; width: 40px; height: 44px; text-indent:-9999px; z-index: 40; }
		a#left-arrow, #featured .nivo-prevNav { background:url(images/left-arrow.png) no-repeat; left: -7px; }
		a#right-arrow, #featured .nivo-nextNav { background:url(images/right-arrow.png) no-repeat; right: -7px; }
			.featured-top-shadow { background:url(images/featured-top-shadow.png) repeat-x; position: absolute; top:0; left: 0px; width: 960px; height: 4px; }
			.featured-bottom-shadow { background:url(images/featured-bottom-shadow.png) repeat-x; position: absolute; bottom:0; left: 0px; width: 960px; height: 4px; }
			.featured-description { position: absolute;
top: 0px;
width:100%;
background: rgba(0,0,0,0.50);
-moz-border-radius: 7px;
border-radius: 7px;
height:100%;
text-align:center }
				h2.featured-title { font-family: 'Kreon', Arial, sans-serif;font-size: 40px;
padding-top: 70px;
text-transform: uppercase;}
					h2.featured-title a { text-decoration: none; color: #ffffff; }
				.featured-description p { color: #fff;font-size:18px; padding-top:15px; width:70%; margin:0 auto; font-weight:lighter}
				a.readmore { display: block; background: url(images/readmore.png); height: 27px;padding: 0 13px; color: #7b9297; font-size: 13px; font-family: 'Kreon', Arial, sans-serif; line-height: 27px; position: absolute; bottom: 0px; right: 0px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
				#featured a.readmore:hover { color: #fff; }
	#controllers, .nivo-controlNav { text-align: center; padding-top: 12px; padding-bottom: 14px;  }
		#controllers a, .nivo-controlNav a { background:url(images/controller1.png) no-repeat; display:block; height:11px; margin-right:4px; text-indent:-9999px; width:11px; display: inline-block; }
			#controllers a.activeSlide, .nivo-controlNav a.active, #controllers a:hover, .nivo-controlNav a:hover { background:url(images/controller2.png) no-repeat; }


.nivoSlider { position:relative; }
	.nivoSlider img { position:absolute; top:0px; left:0px; }
/* If an image is wrapped in a link */
	.nivoSlider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none; }
/* The slices and boxes in the Slider */
.nivo-slice { display:block; position:absolute; z-index:5; height:100%; }
.nivo-box { display:block; position:absolute; z-index:5; }
/* Caption styles */
.nivo-caption { position:absolute; left:0px; bottom:0px; background:#000; color:#fff; opacity:0.8; /* Overridden by captionOpacity setting */ width:100%; z-index:8; }
	.nivo-caption p { padding:5px; margin:0; }
		.nivo-caption a { display:inline !important; }
.nivo-html-caption { display:none; }
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a { position:absolute; top:45%; z-index:9; cursor:pointer; }
.nivo-prevNav { left:0px; }
.nivo-nextNav { right:0px; }
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav { position: absolute; bottom: -40px; left: 0; width: 960px; }
.nivo-controlNav a { position:relative; z-index:9; cursor:pointer; }
.nivo-controlNav a.active { font-weight:bold; }


#featured-modest { position: relative; height: 340px; margin-top: 30px; }
	#featured-modest .slide { position: absolute; top: 20px; left: 300px; z-index: 1; opacity: 0; width: 354px; }
		#featured-modest .active-block { top: 0; left: 246px; z-index: 3; width: 462px; }
		#featured-modest .next-block, #featured-modest .prev-block { top: 35px; z-index: 2; }
		#featured-modest .next-block { left: 575px; }
		#featured-modest .prev-block { left: 20px; }
		#featured-modest .active-block, #featured-modest .prev-block, #featured-modest .next-block { opacity: 1; }
		.shadow-left, .shadow-right { position: absolute; top: 35px; height: 234px; display: none; }
		.shadow-left { left: -29px; width: 29px; background: url(images/active-left-shadow.png) no-repeat; }
		.shadow-right { right: -21px; width: 21px; background: url(images/active-right-shadow.png) no-repeat; }

		a.featured-link { text-indent: -9999px; width: 61px; height: 71px; background: url(images/featured_active_link.png) no-repeat; position: absolute; right: -28px; top: 118px; display: none; z-index: 1000; }

		#featured-modest .featured-title { position: absolute; bottom: 115px; width: 441px; left: 0; text-align: center; padding: 0 10px 26px; font-size: 30px; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); background: url(images/featured-title-bg.png) no-repeat bottom center; display: none; }
		#featured-modest .description { background: url(images/description-bg.png) no-repeat; width: 411px; height: 86px; position: absolute; bottom: 0px; left: 1px; padding: 26px 25px 0; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); line-height: 20px; display: none; }
		#featured-modest .featured-title, #featured-modest #featured .description { cursor: pointer; }

		#featured-modest .active-block .shadow-left, #featured-modest .active-block .shadow-right, #featured-modest .active-block .featured-title, #featured-modest .active-block .description { display: block; }

		#featured-modest a.main { display: block; }

		#featured-modest img.bottom-shadow { position: absolute; bottom: -7px; left: 0; }
		#featured-modest .active-block img.bottom-shadow { bottom: -10px; }

		.gotoslide { position: absolute; top: 0; left: 0; background: url(images/next-slide-overlay.png); width: 354px; height: 234px; display: none; }
		.gotoslide span { position: absolute; top: 97px; display: block; width: 33px; height: 40px; }
				#featured-modest .next-block .gotoslide span { background: url(images/featured-arrow.png) no-repeat; right: 99px; }
				#featured-modest .prev-block .gotoslide span { background: url(images/featured-arrow-left.png) no-repeat; left: 99px; }

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

h3#comments { color: #1d1d1d; font-size: 28px; font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; margin-bottom: 20px; }

#comment-wrap { margin-top: -18px; padding: 42px 35px 0 0; }

.comment-body-outer	{ border: 1px solid #f0f0f0; margin-bottom: 25px; background: url(images/comment-top-bg.png) repeat-x; }
	.comment-body { background: #fff; padding: 18px 14px 12px 100px; position: relative; background: url(images/comment-bottom-bg.png) bottom left repeat-x; }
		.avatar-box { position: absolute; top: 17px; left: 19px; padding: 6px 0 0 6px; }
			.avatar-overlay { position: absolute; top: 0; left: 0; width: 68px; height: 68px; background: url(images/avatar-overlay.png) no-repeat; }

			.comment-date { font-size: 12px; color: #d4d4d4; font-family: Georgia, serif; font-style: italic; float: right; }
			span.fn, span.fn a { font-family: 'Kreon', Arial, sans-serif; font-weight: lighter; font-size: 20px; color: #1d1d1d; text-decoration: none; }
			span.fn a:hover { color: #111; text-decoration: none; }
		.comment-arrow { position: absolute; bottom: -19px; right: 45px; background: url(images/comment-arrow.png) no-repeat; width: 18px; height: 19px; }

		.reply-container { float:right; }

		.comment ul.children { padding-left: 100px; }

#commentform textarea#comment { width: 96%; }
	#commentform input[type=text] { width: 38%; }
	#commentform input, #commentform textarea { background: url(images/comment-inputs-bg.png) repeat-x; border: 1px solid #f0f0f0; color: #929292; font-size: 12px; padding: 12px 10px 12px 20px; }

	#commentform .hidden { display: none; }

	li.comment #respond textarea { width: 91% !important; }
	li.comment #respond input[type=text] { width: 48% !important; }

#trackbacks { margin-bottom: 20px; }
	#trackbacks h3#comments, #respond h3#comments { margin-bottom: 5px; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*---------------	.footer-widget { width: 190px; margin-right: 34px; float: left; color: #929292; text-shadow: 1px 1px 1px #ffffff; }---------------------------------*/

footer
 { border-top: 1px solid #ececec; width:100%;background-color: #3b3b3b;  }
	#footer-content { width: 958px; margin:0 auto; }
		#footer-widgets { padding:18px 0px 18px 21px;/*padding: 33px 48px 45px;*/ }
			.footer-widget {margin-right: 15px;
float: left;
color: #fff;
width: 223px; }
			#text-2 {margin-right:0px !important}
			.last { margin-right: 0px; }
				#footer-slogan { font-size: 9.1px; color: #fff; text-transform: uppercase; margin-left: 34px; margin-top: -30px; }
				#footer-copyright { display: block; font-family: 'Kreon', Arial, sans-serif; font-size: 12px; color:#fff; margin-top: -9px; }
				.footer-widget p { color: #fff; }
				footer h4.widgettitle { font-family: 'Kreon', Arial, sans-serif; font-weight: lighter;font-size: 20px; color:#fff; padding-bottom: 11px; }
					.footer-widget a { color: #fff; }
					.footer-widget a:hover { color: #d0d0d0; text-decoration: none; }
				.footer-widget ul { margin-bottom:8px;  }
					.footer-widget ul ul { margin-bottom:0; }
						.footer-widget ul li { background:url(images/footer-bullet.png) no-repeat 0 7px; padding:0px 0 7px 16px; }
						.footer-widget ul li ul { margin:0 0 -3px; padding:5px 0 0 7px; }
		p#copyright { float:right; color:#fff;padding-bottom:20px; padding-right: 48px; }
			p#copyright a { color:#fff; }


/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

.widget { width: 230px; padding-bottom: 25px; }
	.widget h3.title { padding-bottom: 10px; }
		.widget ul li { background:url(images/sidebar-bullet.png) no-repeat 0px 7px; padding-bottom: 8px; padding-left: 15px; display: block; }
			.widget ul li a { color:#929292; text-decoration: none; }
				.widget ul li a:hover { color:#b2b2b2; }


/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:0px; top:50px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:192px; top:0px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li {	display: block;	padding: 0px; float: left; height: auto !important; }
	.nav li ul { width: 191px; z-index:1000; }
		.nav li li a:link, .nav li li a:visited {	display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }


/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #ffffff; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; font-family: 'Kreon', Arial, sans-serif; color: #1d1d1d; font-size: 14px; text-align: right; padding: 15px 33px 0 0; }
.wp-pagenavi a, .wp-pagenavi a:link { padding: 5px 12px !important; margin: 2px; text-decoration: none; border:1px solid #eaeaea !important; color: #413f36; background-color: #fff; font-weight: lighter !important; color: #1d1d1d; font-size: 14px; }
.wp-pagenavi a:visited { padding: 5px 12px; margin: 2px; text-decoration: none; border: 1px solid #eaeaea; background-color: #fff; color: #1d1d1d; font-size: 14px; }
.wp-pagenavi span.pages { padding: 5px 7px 5px !important; margin: 2px !important; border: none !important; background-color: none; color: #1d1d1d; font-size: 14px; font-weight: lighter; }
.wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { padding: 5px 12px !important; margin: 2px; font-weight: bold; background-color:#f6f6f6 !important; border:1px solid #eaeaea !important; color: #1d1d1d !important; font-size: 14px; font-weight: lighter !important; }

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }


a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

.foursixeight { margin: 0px 0px 15px 84px;}
.et_pt_blogentry { position: relative; }

.media-description { display: none; position: absolute; bottom: 63px; left: -58px; width: 140px; padding: 15px 15px 8px; z-index: 30;
background: #fff; border: 1px solid #f0f0f0; border-bottom: 1px solid #d1d1d1; -moz-border-radius: 10px; -webkit-border-radius: 10px;border-radius: 10px; -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); font-family: Georgia, serif; font-size: 12px; color: #929292; font-style: italic; }
	.media-arrow { display: block; position: absolute; width: 14px; height: 8px; bottom: -8px; left: 80px; background: url(images/media-arrow.png) no-repeat; }

#et-control-panel { position: fixed; left: 0px; top: 94px; width: 169px; z-index: 9000; color: #9f9f9f; text-shadow: 1px 1px 1px #fff; background: url(images/control-panel-bottom.png) no-repeat bottom left; padding-bottom: 18px; }
	#control-panel-main { background: url(images/control-panel-mainbg.png) repeat-y; -moz-border-radius-topright: 14px; -webkit-border-top-right-radius: 14px; border-top-right-radius: 14px; }
		#et-control-close { background: url(images/control-panel-closebutton.png) no-repeat; position: absolute; top: 17px; right: -41px; width: 45px; height: 40px; display: block; }
		.control-open { background: url(images/control-panel-openbutton.png) no-repeat !important; }
		#et-control-inner { background: url(images/control-inner.png) no-repeat; padding: 16px 16px 0px 16px; }
			#et-control-panel h3.control_title { font-size: 15px; padding: 2px 0 10px; float: left; }
			#et-control-panel p { font-style: italic; font-family: Georgia, serif; font-size: 10px; }
			.et-sample-setting { display: block; width: 29px; height: 29px; position: relative; float: left; margin: 0 4px 4px 0; text-indent: -9999px; }
				.et-sample-setting span.et-sample-overlay { background: url(images/control-link-overlay.png) no-repeat; display: block; position: absolute; top: 0; left: 0; width: 30px; height: 30px; }
			#et-sample-color1 { background: #6a8e94; }
			#et-sample-color2 { background: #8da49c; }
			#et-sample-color3 { background: #b0b083; }
			#et-sample-color4 { background: #859a7c; }
			#et-sample-color5 { background: #c6bea6; }
			#et-sample-color6 { background: #b08383; }
			#et-sample-color7 { background: #a4869d; }
			#et-sample-color8 { background: #f5f5f5; }
			#et-sample-color9 { background: #4e4e4e; }
			#et-sample-color10 { background: #556f6a; }
			#et-sample-color11 { background: #6f5555; }
			#et-sample-color12 { background: #6f6755; }

			#et-sample-texture1 { background: url(images/body-bg2.png) 14px 13px; }
			#et-sample-texture2 { background: url(images/body-bg3.png); }
			#et-sample-texture3 { background: url(images/body-bg4.png); }
			#et-sample-texture4 { background: url(images/body-bg5.png); }
			#et-sample-texture5 { background: url(images/body-bg6.png); }
			#et-sample-texture6 { background: url(images/body-bg7.png); }
			#et-sample-texture7 { background: url(images/body-bg8.png); }
			#et-sample-texture8 { background: url(images/body-bg9.png); }
			#et-sample-texture9 { background: url(images/body-bg10.png); }
			#et-sample-texture10 { background: url(images/body-bg11.png) 139px 104px; }
			#et-sample-texture11 { background: url(images/body-bg12.png); }
			#et-sample-texture12 { background: url(images/body-bg13.png) 14px 14px; }
			#et-sample-texture13 { background: url(images/body-bg14.png); }
			#et-sample-texture14 { background: url(images/body-bg15.png); }
			#et-sample-texture15 { background: url(images/body-bg16.png); }
			#et-sample-texture16 { background: url(images/body-bg17.png); }

			.et-control-colorpicker { background: url(images/control-panel-colorpicker.png) no-repeat; width: 18px; height: 19px; display: block; float: right; }
			.et-font-control { margin-top: 9px; }
			.colorpicker { z-index: 10000; }

#et_control_header_font, #et_control_body_font { width: 73px; }

#comment-wrap .navigation { padding: 10px 0; }
	.nav-previous { float: left; }
	.nav-next { float: right; }
h3#reply-title small { display: block; }
	h3#reply-title small a { font-size: 12px; letter-spacing: 0px; }

#commentform input[type=text] { width: 40%; display: block; padding: 5px; }
#commentform textarea#comment { width: 91%; }
.commentlist #respond textarea#comment { width: 91% !important; }
.commentlist #respond input[type=text] { width: 40%; display: block; padding: 5px; }
.comment_navigation_bottom, .comment_navigation_top { padding-bottom: 12px; }

#featured #slides { height: 332px; }

#media-slides { height: 60px !important; }
	.media-slide { width: 507px !important; }

.et_embedded_videos { display: none; }

.js #featured #slides, .js #featured-modest { background: url(images/ajax-loader.gif) no-repeat center; }
	.js #featured .slide, .js #featured-modest .slide { display: none; }

.service .thumb a { display: block; }

#featured .flex-direction-nav li a { z-index: 99; }

#ie7 #header { position: relative; z-index: 2; }
#ie7 .flex-container, #ie7 #category-name, #ie7 #content-area { position: relative; z-index: 1; }

.col-3
{
width:45%;
float:left;
text-align:center;
padding:10px;
}
 h2
{
color: #1c1c1c; font-size:28px; text-align:center; font-weight:normal
}
.col-3 h3
{
color: #1c1c1c; font-size:22px;
padding-top:10px;
}
.col-3 p
{
font-size: 13px;
line-height: 18px;
color: #3b3b3b;
padding-top: 10px;
}
.box img
{
	width:300px !important;
	height:200px !important;
	box-shadow:2px 3px 5px #000;
	}
	


.border
{
position: relative;
padding-bottom: 8px;
margin-bottom: 8px;
}
.border:after
{
content: "";
position: absolute;
bottom: 0;
width: 72px;
height: 1px;
left: 50%;
background: #000;
margin-left: -30px;
}
.red
{
	color:#e70202}
	.news
	{
	width: 230px;
height: 226px;
position: relative;
overflow: hidden;
background: #000;
float: left;
margin: 20px 10px;
	}
	.news img
	{
		height:100%;
		}

.newsimg {
position: absolute;
top: 0px;
left: 0px;
background: rgba(0,0,0,0.2);
z-index: 100;
padding: 20px 30px;
font-size: 23px;
height: 190px;
line-height: 28px;
color: #fff;
/*text-shadow:2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/}
	.blackbox
	{
		background:#d59519;
		width:100%;
		padding:20px;
		
		float:left
		}
		.blackbox h2
		{ color:#fff}
		.blackbox .border:after
		{
			
			background:#fff}
			.clients
			{
				padding:50px;}
				.clients img
				{
					width: 145px;
border: 1px solid #eee;
margin: 5px;}

.img_news{
	position: relative;
	float:left;
	margin: 20px 10px;
	}	

	.news-wrapper
{
	width:100%;
	margin:0 auto;
}	